.category-block{
    width: 70rem;

    @media screen and (max-width: 720px) {
      width: 60rem;  
    }
    @media screen and (max-width: 620px) {
        width: 50rem;  
      }
      @media screen and (max-width: 520px) {
        width: 40rem;  
      }
      @media screen and (max-width: 420px) {
        width: 30rem;  
      }
      @media screen and (max-width: 320px) {
        width: 20rem;  
      }
}
.category-block__top {
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
}
.category-block__top__back-btn {
    margin-right: 2rem;
    padding: 1.7rem;
    background-color: white;
    border-radius: .5rem;
    box-shadow: 1px 2px 15px rgba($color: #000000, $alpha: 0.05);
    display: block;

    &:hover{
        background-color: #f2f2f2;
        cursor: pointer;
    }
}
.category-block__top__weather {
    padding: 1.7rem; 
    flex-shrink: 1;
    width: 100%;
    border-radius: .5rem;
    background-color: white;
    box-shadow: 1px 2px 15px rgba($color: #000000, $alpha: 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
}
.category-block__top__weather-icon {
}
.category-block__top__weather-text {
}