.main-box-hreff{
    display: block;
    margin: 0rem auto;
    height: 20rem;
    width: 20rem;
    &:hover{
        .main-box::after{
            background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.15) 100%), rgba(0, 0, 0, 0.7);
            transition: 0.3s ease;
        }
        .main-box.shadow{
            box-shadow:  2px 2px 15px rgba(0, 0, 0, 0.4);
            transition: 0.3s ease;
        }
    }
    @media screen and (max-width:500px) {
        height: 35rem;
        width: 100%;
        margin: 2rem auto;
    }
}

.main-box {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    position: relative;
    overflow: hidden;
    background-color: white;
    &::after{
        transition: 0.3s ease;
        content: "";
        width: 100%;
        z-index: 1;
        height: 100%;
        position: absolute;
        top:0;
        left: 0;
        background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.44) 0%, rgba(0, 0, 0, 0.15) 100%), rgba(0, 0, 0, 0.3);
    }

    
}
.main-box__img {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    z-index: 1;
    left:0;
    object-fit: cover;
}
.main-box__title {
    position: absolute;
    text-transform: uppercase;
    color:white;
    top:50%;
    font-size: 1.4rem;
    text-align: center;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    font-weight: 700;
}


.info-box {
    height: 20rem;
    padding: 3.8rem 5.8rem;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: white;

    @media screen and (max-width:650px) {
        flex-wrap: wrap;
        height: auto;
    }
}
.info-box__icon {
    margin-right: 3.5rem;
    @media screen and (max-width:650px) {
        margin: 3rem;
    }
}
.info-box__weather {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-right: 3.5rem;
    @media screen and (max-width:650px) {
        margin: 3rem;
    }
}
.info-box__weather-name {
    font-size: 2rem;
    text-transform: uppercase;
}
.info-box__weather-grade {
    font-size: 4rem;
}
.info-box__datetime {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
    @media screen and (max-width:650px) {
        margin: 3rem;
    }
}
.info-box__datetime-subtitle {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 400;
}
.info-box__datetime-title {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
}


.center-box {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width:1000px) {
        flex-wrap: wrap;
    }
}
.center-box__logo {
    margin-right: 7.5rem;
    & img{
        height: 5.7rem;
        display: block;
        width: 7rem;
        margin: 0 auto;
        margin-bottom: .7rem;
    }
    @media screen and (max-width:1000px) {
        margin-bottom: 4rem;
    }
    @media screen and (max-width:400px) {
        margin-right: 0rem;
    }
}
.center-box__title {
    font-size: 2.8rem;
    text-transform: uppercase;
    text-align: center;
}
.centet-box__subtitle {
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}
.play {
    background-color: #404059;
    height: 18rem;
    border-radius: 50%;
    width: 18rem;
    position: relative;

    & img{
        top:50%;
        left: 52%;
        transform: translate(-50%, -50%);
        position: absolute;
        transition: 0.3s ease;
    }

    &:hover{
        img {
            filter: drop-shadow(1px 1px 15px rgba(0, 0, 0, 0.9));
            transition: 0.3s ease;
            cursor: pointer;
        }
    }
}


.news-box {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;

    
}
.news {
    border-radius: .5rem;
    padding: 2rem;
    display: flex;
    background-color: white;
    margin-top: 2.4rem;
    justify-content: space-between;
    align-items: center;

}
.news-box__icon {
    margin-right: 3rem;
}
.news-box__title {
    font-size: 1.4rem;
    margin-right: 2rem;
    font-weight: 400;
}
.news-box__datetime {
}