{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class=center-block>
                    <div class=single-page-block>
                        <div class=single-page__top>
                            <a href="/" class=single-page__top__back-btn>
                                <img height="40px" src="{% static 'images/back-button.svg' %}" alt="">
                            </a>
                            <h1 class=single-page__title>Ауданның тарихы</h1>
                            <div class="single-page__top__weather">
                                <img height=40px class=single-page__top__weather-icon id="weatherIcon" src="{% static 'images/sunny.svg' %}" alt="">
                                <h1 class=single-page__top__weather-text id='weatherText'>+33°</h1>
                            </div>
                        </div>
                        <div class="single-page__paragraph">
                            <p>
                                <strong>Бәйдібек ауданы</strong>  — Түркістан облысының орталық бөлігіндегі әкімшілік-аумақтық бөлік. Жерінің аумағы 7,2 мың км2 (облыс аумағының 6,1%-ын қамтиды). Орталығы - Шаян ауылы.[4
                                Шаян ауылының іргесі 1928 жылы бұрынғы Шаян болысының негізінде Шаян ауданы болып қаланды. 1965 жылға дейін Шаян, 1996 жылға дейін Алғабас ауданы болып келді.
                            </p>
                            <h2>Географиялық орны</h2>
                            <p>Бәйдібек ауданы жері Қаратау жотасының оңтүстік-батыс беткейінде, қырқалы жазықта жатыр. Оңтүстік-шығысын Боралдай жотасы, Үлкентұра тауы (1425 м) алып жатыр. Жер қойнауынан полиметалл кені (Байжансай), әктас, құрылыс материалдары барланған.</p>
                            <h2>Климаты, өсімдігі мен жануарлар дүниесі</h2>
                            <p>Климаты континентті. Қаңтар айындағы жылдық орташа температура -4-6°С, шілде айында 25-28°С. Жылдық жауын-шашынның мөлшері жазық бөлігінде 250-300 мм, таулы өңірде 400-500 мм. Аудан аумағынан Шаян, Арыстанды, Бөген, Боралдай, Бестоғай, Сасықөзен өзендері және олардың салалары Үлкен Бөген, Бала Бөген, Қошқарата, Құтырған, тағы басқа ағып етеді. Шаян өзенінде Қапшағай бөгеті салынған. Аудан жерінде Арыстанды өзенінің бойында әйгілі Арыстанды-Қарабас желі соғады. Ауданның батысындағы шөлдің ашық сұр, сұр топырағында боз жусан, баялыш, бидайық, күйреуік, шығысындағы таудың сұр-қоңыр топырағында Қаратау жусаны, нарғия, т.б. шәптесіндер мен бұта аралас долана, тобылғы, жабайы алма, өрік; өзен бойларында тал, терек, жиде, қамыс өседі. Жануарлар дүниесінен тауда арқар, елік, қасқыр, жазығында қоян, қарсақ, саршұнақ; құстардан кекілік, бөдене, көкек, тағы басқа мекендейді.</p>
                            <h2>Халқы</h2>
                            <p>
                                Тұрғындары 54 030 адам (2019). Ұлттық құрамы: қазақтар (96,48%), күрдтер (2,70%), парсылар (0,29%), орыстар (0,18%), басқа ұлт өкілдері (0,36%).
                            </p>
                        </div>
                    </div>
                </div>


{% endblock %}