{% extends 'base.html' %}
{% load static %}

{% block content %}
<video class="player" id='mainPlayer' src="{% static 'videos/gymn.webm' %}"></video>
<div class=center-block>
    <div class="info-box shadow">
        <img height=126px class=info-box__icon id="weatherIcon" src="./images/sunny.svg" alt="">
        <div class=info-box__weather>
            <h2 class=info-box__weather-name style='text-align:center'>Байдібек би ауданының </br> ауа-райы</h2>
            <h1 class=info-box__weather-grade id='weatherText'>+33°</h1>
        </div>
        <div class=info-box__datetime>
            <h2 class=info-box__datetime-subtitle>Күн</h2>
            <h1 id="date" class=info-box__datetime-title>2021.10.05</h1>
            <h2 class=info-box__datetime-subtitle>Уақыт</h2>
            <h1 id="time" class=info-box__datetime-title>12:54:55</h1>
        </div>
    </div>
    <div class=center-box>
        <div class=center-box__logo>
            <img src="{% static 'images/logo.png' %}" />
            <h2 class=center-box__title>SMART-GID</h2>
            <p class=centet-box__subtitle>Байдібек би ауданы</p>
        </div>
        <div class=play id=playBtn>
            <img class=active src="{% static 'images/polygon.png' %}" alt="">
            <img class="deactive pauseBtn" src="{% static 'images/pause.png' %}" alt="">
        </div>
    </div>
    <div class="grid">
        <a href="{% url 'shayan' %}" class="grid__item" >
            <h2 class="grid__item-text">Шаян</h2>
        </a>
        <a href="{% url 'borlisay' %}" class="grid__item">
            <h2 class="grid__item-text">Борлысай</h2>
        </a>
    </div>
</div>

{% endblock %}